<th:block th:insert="admin/header.html"></th:block> 

<div class="container">
<div class="row">
<h1 class="text-center my-5">Team Add Page</h1>
<div class="col-3"></div>
<div class="col-6">
<p style="color:red">[[${message}]]</p>
<form action="/admin/team/add" method="post" enctype="multipart/form-data">
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">Team Name:</label>
    <input type="text" class="form-control" id="email" placeholder="Enter Username" name="teamname"></div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Image:</label>
    <input type="file" class="form-control" id="pwd" placeholder="Enter password" name="teamimg"> </div>
  <div class="form-check mb-3">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" name="status" value="1"> Status</label></div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form></div>
<div class="col-3"></div></div></div>


<th:block th:insert="admin/Footer.html"></th:block> 
