<th:block th:insert="header.html"></th:block> 

<!-- content start -->

<!--start inner banner part -->
<div class="menubar">
    <div class="container">
         <div class="row">
            <div class="col-lg-6">
                <div class="menu-header"><h1>About</h1></div>
            </div>
            <div class="col-lg-6">
                <h5><a href="home.html">Home</a> » About</h5>
            </div>
            </div>
    </div>
</div>
<!-- End inner banner part -->





<div class="container mt-3">
  <div class="row" th:each="l : ${aboutlist}">
    <div class="col-4 col-sm-12 col-md-6 col-lg-4"  th:if="${l.status == 1}">
      <!-- Dynamically set image src -->
      <img th:src="@{'/images/' + ${l.aboutimage}}" class="img-fluid" alt="About Image">
    </div>
    <div class="col-8 col-sm-12 col-md-6 col-lg-8">
      <center><strong><h3>About Page</h3></strong></center>
      <!-- Dynamically set paragraph text -->
      <p>[[${l.abouttext}]]</p>
      <!-- Dynamic "See more" content -->
      <a data-bs-toggle="collapse" data-bs-target="#demo">See more.......</a>
      <div id="demo" class="collapse">
        <p>[[${l.abouttext}]]</p>
      </div>
    </div>
  </div>
</div>


 <!-- tema members -->
<div class="container mt-5">
  <div class="row">
    <center><strong><h3><u>Our Team</u></h3></strong></center>
    <div class="col-4 mt-3" th:each="l : ${teamlist}">
      <div style="width: 18rem;" th:if="${l.status == 1}">
        <img th:src="@{'/images/' + ${l.teamimage}}" class="card-img-top team-card d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text" th:text="${l.teamtext}"></p>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- end content -->




<th:block th:insert="footer.html"></th:block> 
