<!-- ##########footer page############ -->
<div class="container-fluid bg-info pt-3 mt-3">
	<div class="row">
		<div class="col-4 col-sm-12 col-md-6 col-lg-4">
			<center><strong><h3>Contact Us</h3></strong></center>
			<hr>
			
				
				<ul class="" style="list-style: none;">
					<li> <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; Brikutinagar-10 nepalgunj Banke</li>
					<li> <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; xyzemail.com</li>
					<li class="foot-li"><i class="fa-brands fa-facebook"></i></li>
					<li  class="foot-li"><i class="fa fa-comments" aria-hidden="true"></i></li>
					<li  class="foot-li"><i class="fa-brands fa-instagram"></i></li>
				</ul>

			
			
		</div>
		<div class="col-4 col-sm-12 col-md-6 col-lg-4">
			<center><strong><h3>Quick Access</h3></strong></center>
			<hr>
			<center>
				<ul style="list-style: none;">
				<li> <a href="" class="text-dark"><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;Home</a></li>
				<li><a href="" class="text-dark"><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;About</a></li>
				<li><a href="" class="text-dark"><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;Notice</a></li>
				<li><a href="" class="text-dark"><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; Contact</a></li>
			</ul>
			</center>
			
		</div>
		<div class="col-4 col-sm-12 col-md-6 col-lg-4">
			<center><strong><h3>Follow Us</h3></strong></center>
			<hr>
			<div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D61555343035989&tabs&width=320&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
                            width="340" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowfullscreen="true"
                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
		</div>
		
	</div>
	
</div>
<!-- ############end footer page -->
<script>
  AOS.init();
</script>
</body>
</html>